{% extends 'base.html' %}
{% block title %}Recuperar contraseña · EduVision{% endblock %}
{% block content %}
<section class="auth-card">
<h1 class="title">Recuperar contraseña</h1>
<p class="subtitle">Ingresa tu correo para enviarte instrucciones.</p>
<form method="post" class="auth-form">
{% csrf_token %}
{{ form.non_field_errors }}


<div class="field">
<label for="id_email">Correo</label>
{{ form.email }}
</div>


<button type="submit" class="btn primary">Enviar</button>
</form>
</section>
{% endblock %}